@import url(http://fonts.googleapis.com/css?family=Roboto:500);

#mainbody {
	min-height: 480px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto';
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
  	font-family: 'Roboto';
}

p {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a {
  font-size : 16px;
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
  color: #00e6e6;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #00e6e6;
}

a {
  color: #ffffff;
}

a:hover {
  color: #00e6e6;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #000000;
  color: #00e6e6;
}

.alert {
    margin-bottom: 0px;
    padding: 10px;
}

#owl-slider .item img {
    display: block;
    width: 100%;
    height: auto;
}




